@import 'design';
@import 'reset';

@import 'grid';
@import 'testimonials';

* {
    box-sizing: border-box;
}

body {
    background-color: map-get($colors-background, main);
    font-size: $font-size;
    font-family: $font-family;
    font-weight: map-get($font-weight, normal);
}





